{
  "swagger": "2.0",
  "info": {
    "title": "Velora Productivity Agent Connector",
    "description": "Microsoft 365, Mail, Calendar, Teams, Planner, and Fail-Closed Dataverse Audit Connector for Velora Executive Agent Platform.",
    "version": "1.0.0"
  },
  "host": "velora-mcp-productivity.icyriver-9c0a7af6.uaenorth.azurecontainerapps.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "JWT Bearer access token. Format: Bearer <token>"
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "HealthCheck",
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/handoff": {
      "post": {
        "summary": "Parent-to-child agent handoff router",
        "operationId": "HandleParentHandoff",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HandoffRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Handoff response envelope",
            "schema": {
              "$ref": "#/definitions/HandoffResponse"
            }
          }
        },
        "description": "Execute a Microsoft 365 operation on behalf of the signed-in executive. Covers Outlook mail, Outlook calendar and meetings (including looking back at past days), Teams messages, Planner tasks, Work IQ search, and the executive daily briefing. Use LIST_CALENDAR_EVENTS to retrieve meetings and calendar entries for any date range, past or future."
      }
    }
  },
  "definitions": {
    "HandoffRequest": {
      "type": "object",
      "required": [
        "task",
        "operation",
        "rootCorrelationId",
        "conversationId",
        "turnId",
        "userObjectId",
        "userEmail"
      ],
      "properties": {
        "task": {
          "type": "string",
          "description": "Short natural-language description of what the executive asked for."
        },
        "operation": {
          "type": "string",
          "description": "The Microsoft 365 operation to execute. Read operations return data; PREPARE_* operations return a preview plus a confirmation token, and the matching SEND_/CREATE_/UPDATE_/CANCEL_/COMPLETE_APPROVED_* operation executes it after the user approves.",
          "enum": [
            "CANCEL_APPROVED_MEETING",
            "CHECK_AVAILABILITY",
            "COMPLETE_APPROVED_PLANNER_TASK",
            "CREATE_APPROVED_MEETING",
            "CREATE_APPROVED_PLANNER_TASK",
            "FIND_MAIL_FOLLOW_UPS",
            "FIND_OVERDUE_TASKS",
            "FIND_TEAMS_FOLLOW_UPS",
            "GET_CHANNEL_CONTEXT",
            "GET_CHAT_CONTEXT",
            "GET_DAILY_EXECUTIVE_BRIEFING",
            "GET_MAIL_THREAD",
            "GET_MEETING_CONTEXT",
            "GET_MEETING_DETAILS",
            "GET_PLANNER_TASK",
            "LIST_CALENDAR_EVENTS",
            "LIST_MY_PLANNER_TASKS",
            "LIST_PLAN_TASKS",
            "PREPARE_DAILY_BRIEFING_EMAIL",
            "PREPARE_EMAIL",
            "PREPARE_EMAIL_REPLY",
            "PREPARE_MEETING_CANCELLATION",
            "PREPARE_MEETING_CREATION",
            "PREPARE_MEETING_UPDATE",
            "PREPARE_PLANNER_COMPLETION",
            "PREPARE_PLANNER_TASK",
            "PREPARE_PLANNER_TASK_UPDATE",
            "PREPARE_TEAMS_CHANNEL_POST",
            "PREPARE_TEAMS_CHAT_MESSAGE",
            "SEARCH_MAIL",
            "SEARCH_TEAMS_MESSAGES",
            "SEND_APPROVED_DAILY_BRIEFING_EMAIL",
            "SEND_APPROVED_EMAIL",
            "SEND_APPROVED_EMAIL_REPLY",
            "SEND_APPROVED_TEAMS_CHANNEL_POST",
            "SEND_APPROVED_TEAMS_CHAT_MESSAGE",
            "SEND_DAILY_BRIEFING_EMAIL",
            "SUMMARIZE_PRIORITY_MAIL",
            "UPDATE_APPROVED_MEETING",
            "UPDATE_APPROVED_PLANNER_TASK"
          ]
        },
        "rootCorrelationId": {
          "type": "string",
          "description": "Correlation id generated by the parent agent; pass the same value to every delegated call in the turn."
        },
        "conversationId": {
          "type": "string",
          "description": "Parent Copilot Studio conversation id."
        },
        "turnId": {
          "type": "string",
          "description": "Parent turn id."
        },
        "userObjectId": {
          "type": "string",
          "description": "Signed-in user's Entra object id, e.g. User().Id."
        },
        "userEmail": {
          "type": "string",
          "description": "Signed-in user's email, e.g. User().Email."
        },
        "userTimezone": {
          "type": "string",
          "description": "IANA time zone, default Asia/Dubai."
        },
        "channel": {
          "type": "string"
        },
        "dataClassification": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "Operation arguments, e.g. {\"startDateTime\":\"2026-08-28T00:00:00Z\",\"endDateTime\":\"2026-08-28T23:59:59Z\"} for LIST_CALENDAR_EVENTS, or {\"query\":\"...\",\"maximumResults\":10} for SEARCH_MAIL."
        }
      }
    },
    "HandoffResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "approvalRequired": {
          "type": "boolean"
        },
        "resultSummary": {
          "type": "string"
        },
        "confirmationToken": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "auditStatus": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "previewDetails": {
          "type": "object"
        },
        "structuredResult": {
          "type": "object"
        }
      }
    }
  }
}