{
  "swagger": "2.0",
  "info": {
    "title": "Velora Facilitator MCP",
    "description": "Executive Meeting Synthesis, Calendar Automation & Institutional Memory",
    "version": "1.0.0"
  },
  "host": "velora-mcp-facilitator.icyriver-9c0a7af6.uaenorth.azurecontainerapps.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "JWT Bearer token. Enter: Bearer <token>"
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Server healthy"
          }
        }
      }
    },
    "/guide": {
      "get": {
        "summary": "Facilitator Auto-Send Guide",
        "operationId": "getGuide",
        "responses": {
          "200": {
            "description": "Setup guide text"
          }
        }
      }
    },
    "/get_calendar_meetings": {
      "post": {
        "summary": "Fetch meetings from Outlook/Teams Calendar",
        "operationId": "getCalendarMeetings",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "user_email": {
                  "type": "string"
                },
                "timeframe": {
                  "type": "string",
                  "default": "today"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar meetings"
          }
        }
      }
    },
    "/process_calendar_meeting_workflow": {
      "post": {
        "summary": "Process Pre or Post Meeting Synthesis",
        "operationId": "processCalendarMeetingWorkflow",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "meeting_subject": {
                  "type": "string"
                },
                "phase": {
                  "type": "string",
                  "default": "POST_MEETING"
                },
                "notes": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow execution summary"
          }
        }
      }
    },
    "/generate_pre_meeting_briefing": {
      "post": {
        "summary": "Synthesize SAP Cross-Connector Meeting Briefing",
        "operationId": "generatePreMeetingBriefing",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "meeting_title",
                "attendees"
              ],
              "properties": {
                "meeting_title": {
                  "type": "string"
                },
                "attendees": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Briefing packet"
          }
        }
      }
    },
    "/draft_meeting_summary_email": {
      "post": {
        "summary": "Draft Executive Meeting Summary Email",
        "operationId": "draftMeetingSummaryEmail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "topic",
                "attendees",
                "key_decisions",
                "action_items"
              ],
              "properties": {
                "topic": {
                  "type": "string"
                },
                "attendees": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "key_decisions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "action_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "task": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "string"
                      },
                      "due": {
                        "type": "string"
                      }
                    }
                  }
                },
                "notes": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Draft email object ready for review"
          }
        }
      }
    },
    "/send_executive_email_via_graph": {
      "post": {
        "summary": "Send Executive Email via Microsoft Graph",
        "operationId": "sendExecutiveEmailViaGraph",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "to_recipients",
                "subject",
                "body_html"
              ],
              "properties": {
                "to_recipients": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "subject": {
                  "type": "string"
                },
                "body_html": {
                  "type": "string"
                },
                "cc_recipients": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "confirmation_token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email dispatch confirmation"
          }
        }
      }
    }
  }
}