{
  "swagger": "2.0",
  "info": {
    "title": "Velora SAC Analytics MCP",
    "description": "SAP Analytics Cloud KPI and Story integration for Velora Executive Agent",
    "version": "1.0.0"
  },
  "host": "velora-mcp-sac.icyriver-9c0a7af6.uaenorth.azurecontainerapps.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header",
      "description": "API key required for service authentication. Provide your MCP API Key via X-API-Key or Authorization header as 'Bearer <api_key>'."
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Server healthy"
          }
        }
      }
    },
    "/mcp/tools": {
      "get": {
        "summary": "List SAC Analytics Tools",
        "operationId": "listSacTools",
        "responses": {
          "200": {
            "description": "List of available tools"
          }
        }
      }
    },
    "/get_sac_kpis": {
      "post": {
        "summary": "Retrieve executive KPIs from SAP Analytics Cloud",
        "operationId": "getSacKpis",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "default": "FINANCE"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Executive SAC KPIs with Adaptive Card"
          }
        }
      }
    },
    "/get_sac_story_analytics": {
      "post": {
        "summary": "Fetch SAC Story BI Insights and Variances",
        "operationId": "getSacStoryAnalytics",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "story_id": {
                  "type": "string",
                  "default": "VELORA_CORP_PERF_2026"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SAC Story BI insights with Adaptive Card"
          }
        }
      }
    },
    "/get_sac_model_data": {
      "post": {
        "summary": "Query SAC model measure data",
        "operationId": "getSacModelData",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "model_id"
              ],
              "properties": {
                "model_id": {
                  "type": "string"
                },
                "measures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw model measure values"
          }
        }
      }
    }
  }
}